<div
  class="w-screen py-4 flex flex-row fixed top-0 left-0 items-center justify-center shadow-sm z-[100] bg-[rgba(239,69,7,0.95)]"
>
  <div
    class="max-w-6xl hidden w-full text-white text-xl items-center font-semibold tracking-tighter lg:flex flex-row justify-between gap-x-1"
  >
    <div class="flex flex-row gap-x-2 text-white">
      <img class="h-7" src="../assets/biconomy.png" alt="" srcset="" />
      Biconomy
    </div>

    <div class="text-white flex flex-row font-normal text-base">
      <a
        class="text-white text-center hover:text-[rgba(255,255,255,0.8)] w-32 group relative cursor-pointer"
      >
        Products
        <ng-container *ngIf="true; then productsDropdown"></ng-container>
      </a>
      <a
        class="text-white text-center hover:text-[rgba(255,255,255,0.8)]  w-32 group relative cursor-pointer"
      >
        Learn
        <ng-container *ngIf="true; then learnDropdown"></ng-container>
      </a>
      <a
        class="text-white text-center hover:text-[rgba(255,255,255,0.8)]  w-32 group relative cursor-pointer"
      >
        Ecosystem
      </a>
    </div>

    <div class="flex flex-row gap-x-4">
      <!-- <button class="px-8 py-2 rounded-full flex flex-row items-center
        gap-x-2 text-base bg-[rgba(255,255,255,0.7)] hover:bg-white transition-all">
        Dashboard
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
        stroke="currentColor" class="size-5 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
        
      </button> -->
      <button
        class="px-8 py-2 rounded-full flex flex-row items-center gap-x-2 text-base bg-[rgba(255,255,255,0.7)] hover:bg-white transition-all"
      >
        Join MEE Waitlist
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="lg:hidden  flex flex-row w-screen px-8">
    <img class="h-6" src="../../assets/biconomy.png" alt="" srcset="">
    <div class="text-white ml-2 font-semibold">Biconomy</div>
  </div>
</div>

<ng-template #productsDropdown>
  <div
    class="absolute transition-all duration-400 ease-in-out top-full
     left-0 mt-4 -ml-[60%] text-left shadow-lg rounded-lg w-72 flex
      flex-col gap-y-3 opacity-0 invisible  backdrop-blur-md
      group-hover:opacity-100 group-hover:visible
       p-8 bg-[rgba(0,0,0,0.4)] z-[100] text-white"
  >
    <div class="text-xl font-bold text-white">MEE</div>
    <a href="" class="opacity-70 hover:opacity-100 transition-opacity"
      >Explore MEE</a
    >
    <a href="" class="opacity-70 hover:opacity-100 transition-opacity"
      >Join MEE Waitlist</a
    >
    <hr class="opacity-20 my-4" />
    <div class="text-xl font-bold text-white">Account Abstraction</div>
    <a href="https://dashboard.biconomy.io/" class="opacity-70 hover:opacity-100 transition-opacity"
      >Dashboard</a
    >
    <a href="https://docs.biconomy.io/" class="opacity-70 hover:opacity-100 transition-opacity">Docs</a>
    <a href="" class="opacity-70 hover:opacity-100 transition-opacity"
      >Modular Smart Accounts</a
    >
    <a href="" class="opacity-70 hover:opacity-100 transition-opacity"
      >Bundlers</a
    >
    <a href="" class="opacity-70 hover:opacity-100 transition-opacity"
      >Paymasters</a
    >
  </div>
</ng-template>

<ng-template #learnDropdown>
  <div
    class="absolute transition-all text-left duration-400 ease-in-out 
    top-full left-0 mt-4 -ml-[60%] shadow-lg rounded-lg w-72 flex flex-col gap-y-3 opacity-0 invisible group-hover:opacity-100 group-hover:visible p-8 bg-[rgba(0,0,0,0.4)] backdrop-blur-md text-white"
  >
    <div class="text-xl font-bold text-white">Learn</div>
    <a href="" class="opacity-70 hover:opacity-100 transition-opacity"
      >About Us</a
    >
    <a href="" class="opacity-70 hover:opacity-100 transition-opacity"
      >Blog</a
    >
    <a href="" class="opacity-70 hover:opacity-100 transition-opacity"
      >FAQ</a
    >
    
  </div>
</ng-template>
