<app-navbar></app-navbar>
<div
  class="w-screen overflow-x-hidden
  lg:min-h-screen lg:py-32 pt-32 pb-20 lg:px-0 px-6 bg-hero flex flex-col justify-center items-center"
>
  <div class="lg:text-7xl text-4xl font-black max-w-3xl lg:text-center text-white">
    The Modular Execution Revolution
  </div>
  <div class="max-w-4xl lg:mt-8 mt-3 lg:text-2xl text-lg opacity-85 lg:text-center text-white">
    The Biconomy Modular Execution Environment enables developers to compose
    transactions, intents and off-chain data across all blockchain networks.
  </div>

  <div class="flex flex-row justify-center lg:gap-x-8 gap-x-3 mt-12">
    <button
      class="bg-slate-900 hover:bg-orange-700 lg:text-lg text-base border border-transparent hover:border-white
       transition-all font-medium lg:px-12 px-7 py-3 text-white rounded-full"
    >
      Learn More
    </button>
    <button
      class="bg-white hover:bg-orange-700 lg:text-lg text-base border border-transparent hover:border-white
       hover:text-white transition-all font-medium lg:px-12 px-7 py-3 text-slate-950 rounded-full"
    >
      Build With Us
    </button>
  </div>
</div>

<div
  class="rounded-t-3xl lg:px-0 px-6 flex flex-col lg:items-center lg:py-24 py-16 bico-protocol-bg w-screen"
>
  <div class="lg:text-5xl text-2xl font-black">Supertransactions</div>
  <div class="mt-3 text-xl font-medium">
    Execute anything. Execute anywhere.
  </div>
  <div class="mt-6 lg:text-lg font-normal opacity-60 max-w-3xl lg:text-center">
    Compose multiple UserOps and intents across multiple blockchains into a
    single object - called a Supertransaction. Build complex user flows -
    without writing smart contracts.
  </div>

  <img class="bg-light mt-12 mb-4 border-y lg:scale-100 scale-125 lg:hidden" src="../assets/merkle.png" alt="" srcset="">

  <div class="grid grid-cols-12 lg:mt-16 mt-8 gap-x-4 max-w-6xl w-full">
    <div class="flex flex-col gap-y-4 lg:col-span-5 col-span-12">
      <div
        class="bg-[rgba(255,255,255,0.4)]
        border lg:border-none  flex flex-row gap-x-4 rounded-lg py-5 px-6"
      >
        <div class="flex flex-col justify-center">
          <div class="lg:h-12 lg:w-12 h-8 w-8">
            <img class="" src="../assets/fingerprint.png" alt="" srcset="" />
          </div>
        </div>
        <div class="flex flex-col">
          <div class="font-semibold lg:text-xl text-lg">One signature</div>
          <div class="mt-1 lg:text-base text-sm opacity-60">
            Trustlessly permit the execution of multiple transactions and
            intents, across multiple blockchains - with a single user signature.
          </div>
        </div>
      </div>

      <div
        class="bg-[rgba(255,255,255,0.4)] border lg:border-none  flex flex-row gap-x-4 rounded-lg py-5 px-6"
      >
        <div class="flex flex-col justify-center">
          <div class="lg:h-12 lg:w-12 h-8 w-8">
            <img class="" src="../assets/gas.png" alt="" srcset="" />
          </div>
        </div>
        <div class="flex flex-col">
          <div class="font-semibold lg:text-xl text-lg">One fee</div>
          <div class="mt-1 lg:text-base text-sm opacity-60">
            Pay a single transaction fee to execute actions across all chains.
            Pay in native gas, stablecoins or sponsor transactions for users.
          </div>
        </div>
      </div>

      <div
        class="bg-[rgba(255,255,255,0.4)] border lg:border-none  flex flex-row gap-x-4 rounded-lg py-5 px-6"
      >
        <div class="flex flex-col justify-center">
          <div class="lg:h-12 lg:w-12 h-8 w-8">
            <img class="" src="../assets/cubes.png" alt="" srcset="" />
          </div>
        </div>
        <div class="flex flex-col">
          <div class="font-semibold lg:text-xl text-lg">All blockchains</div>
          <div class="mt-1 lg:text-base text-sm opacity-60">
            Blend EVM and alt-VM execution into a single transaction object. Use
            all blockchains as if they're a single environment.
          </div>
        </div>
      </div>
    </div>
    <div
      class="lg:col-span-7 hidden lg:flex flex-col px-2 rounded-md bg-[rgba(255,255,255,0.3)] justify-center"
    >
      <img class="w-full" src="../assets/merkle.png" alt="" srcset="" />
    </div>
  </div>
</div>

<div
  class="w-screen pb-44 lg:px-0 px-6 flex flex-col items-center lg:py-24 py-16 bg-light rounded-3xl"
>
  <div class="max-w-6xl grid grid-cols-12 gap-x-6 w-full">
    <div class="lg:text-5xl text-2xl col-span-12 mt-12 mb-4 font-black">
      Modular Execution Environment
      <div class="lg:text-xl text-base mb-4 opacity-70 max-w-3xl font-normal mt-4">
        A Modular Execution Environment is any network which enables
        cryptographically guaranteed execution of Supertransactions.
      </div>
    </div>

    <img
      class="w-full lg:px-8 px-4 lg:py-12 py-4 lg:scale-100 scale-125 border-y col-span-12
       bg-[rgba(255,255,255,0.5)] rounded-md lg:col-span-7"
      src="../assets/layers2.png"
      alt=""
      srcset=""
    />

    <div
      class="lg:col-span-5 col-span-12 flex flex-col mt-12 lg:mt-0
       items-center justify-center lg:bg-[rgba(255,255,255,0.5)]  lg:p-10 rounded-md"
    >
      <div class="lg:text-3xl text-xl text-start w-full font-bold">
        Beyond Chain Abstraction
      </div>
      <div class="text-start lg:text-lg text-base lg:mt-4 mt-2 opacity-60">
        MEE not only enables you to provide your users with full chain
        abstraction, it enables you to seamlessly compose multiple transactions,
        intents or off-chain actions - across all blockchains.
      </div>
    </div>
  </div>
</div>

<div
  class="w-screen border lg:min-h-screen lg:px-0 px-6
   flex flex-row bico-protocol-bg bg-orange-50 
   justify-center -mt-8 rounded-3xl 
   lg:py-36 py-16"
>
  <div class="lg:max-w-6xl lg:w-full flex flex-col">
    <div class="text-center lg:text-5xl text-2xl font-black lg:mb-24 mb-8">Build with MEE</div>
    <div class="grid grid-cols-12 gap-x-8">
      <div class="flex flex-col lg:col-span-5 col-span-12 justify-center">
        <div class="lg:text-2xl text-lg font-bold">Onchain App Development Made Easy</div>
        <div class="opacity-65 lg:text-lg text-base mt-2">
          Build single-chain or multi-chain apps, use intents or transactions,
          and compose complex automation with our open-source SDK - AbstractJS.
          Go from idea to production in record time.
        </div>

        <div class="lg:text-2xl text-lg mt-16 font-bold">
          A Seamless, Abstracted UX for Your Users
        </div>
        <div class="opacity-65 lg:text-lg mt-2">
          Biconomy makes blockchain invisible, allowing users to interact with
          apps seamlessly without worrying about technical complexities like
          bridging funds, gas fees, or multiple accounts.
        </div>
      </div>
      <div class="flex flex-col lg:scale-100 lg:border-none border-y scale-125 my-16
      bg-white lg:bg-transparent lg:px-0 px-4 lg:my-0
      lg:col-span-7 col-span-12 justify-center">
        <img class="lg:px-20" src="../assets/code2.png" alt="" srcset="" />
      </div>
    </div>

    <!-- 

    <div class="grid grid-cols-2 mt-32">
      <div class="">
        <div class="text-2xl font-bold">Onchain App Development Made Easy</div>
        <div class="opacity-50 mt-1">
          Build single-chain or multi-chain apps, use intents or transactions,
          and compose complex automation with our open-source SDK - AbstractJS.
          Go from idea to production in record time.
        </div>
      </div>
    </div> -->
  </div>
</div>

<div
  class="w-screen bg-light border lg:px-0 px-6
   flex flex-col items-center lg:py-32 py-16 -mt-8 rounded-t-3xl"
>
  <div class="lg:text-5xl text-2xl max-w-5xl lg:text-center font-black">
    Seamlessly connect to all blockchains
  </div>
  <div class="max-w-3xl mt-4 lg:text-center opacity-60 text-lg">
    If you're operating an L1 or a rollup - joining MEE gives all apps and
    developers on your chain access to users, balances, and liquidity across all
    other MEE-enabled blockchains.
  </div>
  <video
    autoplay="true"
    loop
    class="h-96 rounded-md mt-16 hidden"
    src="../assets/apps.mp4"
  ></video>
</div>

<div class="-mt-8 rounded-t-3xl lg:px-0 px-6
 bg-black py-32 flex flex-col items-center">
  <div class="max-w-6xl w-full text-white">
    <div class="mb-8 text-white opacity-70 text-xl">
      Infrastructure you can rely on
    </div>
    <div class="grid w-full lg:grid-cols-6 grid-cols-2 lg:gap-0 gap-8 text-white">
      <div class="flex flex-col">
        <div class="text-5xl text-white font-black">17M+</div>
        <div class="text-white opacity-50">UserOps</div>
      </div>

      <div class="flex flex-col">
        <div class="text-5xl text-white font-black">1.6M</div>
        <div class="text-white opacity-50">Smart Accounts</div>
      </div>

      <div class="flex flex-col">
        <div class="text-5xl text-white font-black">200+</div>
        <div class="text-white opacity-50">dApps</div>
      </div>

      <div class="flex flex-col">
        <div class="text-5xl text-white font-black">5M+</div>
        <div class="text-white opacity-50">Users</div>
      </div>

      <div class="flex flex-col">
        <div class="text-5xl text-white font-black">$3B+</div>
        <div class="text-white opacity-50">Volume</div>
      </div>

      <div class="flex flex-col">
        <div class="text-5xl text-white font-black">50M+</div>
        <div class="text-white opacity-50">Relayed Transactions</div>
      </div>
    </div>
    <div class="mb-8 mt-24 text-white opacity-70 text-xl">
      Trusted by the best
    </div>
    <div class="grid lg:grid-cols-4 grid-cols-2 gap-y-10 gap-x-8">
      <img class="h-8" src="../assets/partners/acentrik.png" alt="" srcset="" />
      <img class="h-10" src="../assets/partners/trust.png" alt="" srcset="" />
      <img class="h-8" src="../assets/partners/onyx.png" alt="" srcset="" />
      <img class="h-6" src="../assets/partners/dydx.png" alt="" srcset="" />
      <img class="h-8" src="../assets/partners/sandbox.png" alt="" srcset="" />
      <img
        class="h-8"
        src="../assets/partners/perpetual.png"
        alt=""
        srcset=""
      />
      <img
        class="h-6"
        src="../assets/partners/cyberconnect.png"
        alt=""
        srcset=""
      />
      <img
        class="h-6"
        src="../assets/partners/aavegotchi.png"
        alt=""
        srcset=""
      />
      <img
        class="h-10"
        src="../assets/partners/rhinestone.png"
        alt=""
        srcset=""
      />
      <img class="h-8" src="../assets/partners/fantv.png" alt="" srcset="" />
      <img class="h-8" src="../assets/partners/farcana.png" alt="" srcset="" />
      <img class="h-8" src="../assets/partners/thales.png" alt="" srcset="" />
    </div>
  </div>
</div>

<div
  class="w-screen bico-protocol-bg-2 lg:px-0 px-8
  -mt-8 lg:py-36 py-20 relative rounded-t-3xl flex flex-col lg:items-center"
>
  <div class="text-white max-w-5xl lg:text-5xl text-2xl font-black lg:text-center">
    The Biconomy Protocol
  </div>
  <div class="max-w-4xl opacity-80 w-full lg:text-center mt-4 lg:text-xl text-base text-white">
    The first Modular Execution Environment is powered by the Biconomy Protocol
    - a permissionless P2P gossip network, providing crypto-economically
    guaranteed execution of Supertransactions.
  </div>

  <div class="grid lg:grid-cols-2 gap-x-16 max-w-6xl mt-24">
    <div class="flex flex-col justify-center">
      <div class="font-bold lg:text-3xl text-lg text-white">
        Power the network with BICO
      </div>
      <div class="mt-4 text-white opacity-80 lg:text-xl text-base">
        Lock-up BICO tokens to participate in the network as bundlers, solvers
        or oracles and provide cryptographically guaranteed execution.
      </div>
    </div>
    <div class="p-10 bg-[rgba(255,255,255,0.1)] mt-12 lg:mt-0 rounded-md">
      <img src="../assets/protocol.png" alt="" srcset="" />
    </div>
  </div>
</div>

<div class="w-screen bico-protocol-bg lg:px-0 px-8
 flex lg:py-32 py-20 flex-col items-center">
  <div class="max-w-6xl w-full grid grid-cols-6">
    <div class="col-span-3 h-full flex flex-col items-start justify-center">
      <img
        class="h-2/3 object-contain"
        src="../assets/aa.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="lg:col-span-3 col-span-6 h-full flex flex-col justify-center">
      <div class="lg:text-5xl text-2xl font-bold">Account Abstraction</div>
      <div class="mt-4 text-lg opacity-70">
        MEEs natively support Account Abstraction. With Biconomy Account
        Abstraction, your are supercharging your app’s UX.
      </div>
      <div class="mt-8 flex flex-col justify-center gap-y-4">
        <a class="cursor-pointer flex flex-row items-center gap-x-2">
          Explore Account Abstraction
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
          
        </a>
        <hr class="border-slate-300" />
        <a class="cursor-pointer flex flex-row items-center gap-x-2">
          Explore Smart Accounts
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
          
        </a>
        <hr class="border-slate-300" />
        <a class="cursor-pointer flex flex-row items-center gap-x-2">
          Explore Paymasters
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
          
        </a>
        <hr class="border-slate-300" />
        <a class="cursor-pointer flex flex-row items-center gap-x-2">
          Explore Bundlers
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
          
        </a>
      </div>
    </div>
  </div>
</div>

<div class="w-screen bg-gradient-to-br lg:px-0 px-6 from-[#EF4507] to-[#ef0707] py-32 flex flex-row justify-center">
  <div class="grid lg:grid-cols-4 max-w-6xl w-full">
    <div class="flex lg:mb-0 mb-12 flex-row justify-start h-full gap-x-2 text-white items-start font-semibold text-lg">
      <img class="h-8" src="../assets/biconomy.png" alt="" srcset="">
      Biconomy
    </div>
    <div class="flex flex-col gap-y-8 text-white">
      <a href="">Discord</a>
      <a href="">Twitter</a>
      <a href="">YouTube</a>
      <a href="">Telegram</a>
      <a href="">Warpcast</a>
    </div>
    <div class="text-white flex flex-col gap-y-8">
      <a href="">Media Kit</a>
      <a href="">AA Pricing</a>
      <a href="">Contact</a>
    </div>
    <div class="text-white flex flex-col gap-y-8">
      <a href="">Privacy Policy</a>
    </div>
  </div>
</div>
