@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Manrope';
  color: #1E1E1E;
  @apply tracking-tight
}

.main-bg {
  background-color: #EF4507;
}

.text-color {
  color: #1E1E1E;
}